[submodule "modules/SD-T2I-360PanoImage"]
	path = modules/SD-T2I-360PanoImage
	url = https://github.com/CHamilton0/SD-T2I-360PanoImage.git
[submodule "modules/HunyuanWorld-1.0"]
	path = modules/HunyuanWorld-1.0
	url = https://github.com/CHamilton0/HunyuanWorld-1.0.git
[submodule "modules/Hunyuan3D-2"]
	path = modules/Hunyuan3D-2
	url = https://github.com/CHamilton0/Hunyuan3D-2.git
